<%= simple_form_for(@list) do |f| %>

  <div class="split-fields">
    <div class="field">
        <%= f.input :name, :placeholder => t("name"), :label => false %>
    </div>
    <div class="button">
        <%= f.button :submit, t("add_list_sub") %>
    </div>  
  </div>
<% end %>